<!-- @for(Student of Students; track Student.id) {
<main>
  <div class="main-con">
    <div class="image">
      <img src="{{ Student.image }}" alt="" />
    </div>
    <div class="greetings">
      <p>
        Hello, <span>{{ Student.name }}</span> 🎉🎉
      </p>
    </div>
  </div>
</main>
} -->

<main>
  <div class="main-con">
    <div class="image">
      <img src="{{ image }}" alt="" />
    </div>
    <div class="greetings">
      <p>
        Hello, <span>{{ name }}</span> 🎉🎉
      </p>
    </div>
  </div>
</main>
